{% extends '::base.html.twig' %}

{% block body %}
   <!-- a supprimer ce bloc de div les msg de symfony  -->



        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% endblock body %}