{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TAgricole creation</h1>
    <div id="map" style="width: 400px ;height: 400px ;margin:  0 auto"></div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden"  name="coord" id="co">
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tagricole') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
